@model Person

<li id="@("person" + Model.Id)">
    <a>ID: @Model.Id  Name: @Model.Name   Telefon: @Model.Phone  City: @Model.City</a>
    <a class="aUpdate" asp-controller="Person" asp-action="Edit" asp-route-id="@Model.Id" data-target="@("person" + Model.Id)">Edit</a>
    <a class="aUpdate" asp-controller="Person" asp-action="DelPerson" asp-route-id="@Model.Id"  data-target="@("person" + Model.Id)" >Delete</a>
</li>

